/* Coolors Exported Palette - https://coolors.co/302f37-191417-48424b-73474f-b85057 */

/* CSS HEX */
--shadow-grey: #302f37ff;
--coffee-bean: #191417ff;
--graphite: #48424bff;
--chocolate-plum: #73474fff;
--blushed-brick: #b85057ff;

/* CSS HSL */
--shadow-grey: hsla(248, 8%, 20%, 1);
--coffee-bean: hsla(324, 11%, 9%, 1);
--graphite: hsla(280, 6%, 28%, 1);
--chocolate-plum: hsla(349, 24%, 36%, 1);
--blushed-brick: hsla(356, 42%, 52%, 1);

/* SCSS HEX */
$shadow-grey: #302f37ff;
$coffee-bean: #191417ff;
$graphite: #48424bff;
$chocolate-plum: #73474fff;
$blushed-brick: #b85057ff;

/* SCSS HSL */
$shadow-grey: hsla(248, 8%, 20%, 1);
$coffee-bean: hsla(324, 11%, 9%, 1);
$graphite: hsla(280, 6%, 28%, 1);
$chocolate-plum: hsla(349, 24%, 36%, 1);
$blushed-brick: hsla(356, 42%, 52%, 1);

/* SCSS RGB */
$shadow-grey: rgba(48, 47, 55, 1);
$coffee-bean: rgba(25, 20, 23, 1);
$graphite: rgba(72, 66, 75, 1);
$chocolate-plum: rgba(115, 71, 79, 1);
$blushed-brick: rgba(184, 80, 87, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #302f37ff, #191417ff, #48424bff, #73474fff, #b85057ff);
$gradient-right: linear-gradient(90deg, #302f37ff, #191417ff, #48424bff, #73474fff, #b85057ff);
$gradient-bottom: linear-gradient(180deg, #302f37ff, #191417ff, #48424bff, #73474fff, #b85057ff);
$gradient-left: linear-gradient(270deg, #302f37ff, #191417ff, #48424bff, #73474fff, #b85057ff);
$gradient-top-right: linear-gradient(45deg, #302f37ff, #191417ff, #48424bff, #73474fff, #b85057ff);
$gradient-bottom-right: linear-gradient(135deg, #302f37ff, #191417ff, #48424bff, #73474fff, #b85057ff);
$gradient-top-left: linear-gradient(225deg, #302f37ff, #191417ff, #48424bff, #73474fff, #b85057ff);
$gradient-bottom-left: linear-gradient(315deg, #302f37ff, #191417ff, #48424bff, #73474fff, #b85057ff);
$gradient-radial: radial-gradient(#302f37ff, #191417ff, #48424bff, #73474fff, #b85057ff);